

body {
    
    
}


#container {
    max-width: 600px;
    width: 100%;
    
    margin: 0 auto;
    margin-bottom: 50px;
}

.secondary__container {
    max-width: 900px;
    width: 100%;
    
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.parent {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 0;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }



    
    #border-grid {
        border: 3px solid black;
        padding-bottom: 500px;
        margin-top: 30px;

    }


    footer {
        margin-top: 10vh;
        max-width: 100%;
    }