
header {
    padding: 2em
  
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#container__content {
    max-width: 600px;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.secondary__container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    margin-bottom:50px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}



    
    #border-grid {
        border: 3px solid black;
        margin-top: 30px;
        min-height: 500px;
        max-height: 500px;
        min-width: 500px;
        max-width: 500px;
    }

    footer{
        margin-top: auto;
    }



